
.dashboardsection{
    background-color: #fdf5ea;
}
.frombutton,.tobutton{
    border: unset;
    outline: unset;
    border-radius: 50px;
    background-color:#fae0bf;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    margin: 10px;
    text-align: center;
    
  }
  .jamesname{
      font-size:32px;
    font-weight:300;
}

  .date{
      border-radius: 10px;
  }
  .Addedname{
    font-size:25px;
    font-weight:200;
    padding: unset;
    margin: unset;
  }
