<!-- Avarage Monthly Usage  -->
<div class="row justify-content-center pt-5">
    <div class="col-md-3">
        <span class="title">Avarage Monthly Usage</span><br>
        <span class="subtitle">Students Vs Universisties</span>
    </div>
    <div class="col-md-3">
        <div class="flex-container">
            <div>DATE :</div>
            <div><button #fromdate class="frombutton">- from - v</button></div>
            <div><button #todate class="tobutton">- To - v</button></div>
        </div>
    </div>
    <div class="col-md-3">
        <span class="title">popular Topics</span>
    </div>
    <div class="col-md-3">
        <div class="flex-container">
            <div>Filter by:</div>
            <div><button class="unibutton">- university - v</button></div>
        </div>
    </div>
</div>
<div class="row justify-content-center pt-5">
    <div class="col-md-6">
        barchart
    </div>
    <div class="col-md-6">
        barchart
    </div>
</div>
<input #formdateField type="hidden" />
<input #todateField  type="hidden" />