<!-- navbar section  -->
<section class="navbarsection">
    <div class="container-fliud">
        <div class="row p-o m-0  justify-content-between">

            <!-- logo section  -->
            <div class="col-md-1 ">
               <img class="logoicon" src="../../../assets/logo@3x.png" alt="">
            </div>

            <!-- navbar optiones  -->
            <div class="col-md-10">
                <div class="row  justify-content-center navbaroption">
                    <div class="flex-container">
                        <div><a href="">DASHBOARD</a></div>
                        <div><a href="">INSTITUTIONS</a></div>
                        <div><a href="">TUTORS</a></div>  
                        <div><a href="">STUDENTS</a></div>
                        <div><a href="">CONTENT MANAGEMENT</a></div>
                        <div><a href="">SETTING</a></div>  
                      </div>
                </div>
            </div>

            <!-- user section  -->
            <div class="col-md-1 p-0">
                <img class="persionstatus" src="../../../assets/profile.svg" alt="persion">
            </div>
        </div>
    </div>
</section>
