<table class="table">
    <thead>
        <tr>
            <th scope="col"> </th>
            <th scope="col" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href=" " role="button" data-toggle="dropdown">
                        INSTITUTION NAME
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
            </th>
            <th scope="col" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href=" " role="button" data-toggle="dropdown">
                        TUTORS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
            </th>
            <th scope="col" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href=" " role="button" data-toggle="dropdown">
                        STUDENTS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
            </th>
            <th scope="col"  class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href=" " role="button" data-toggle="dropdown">
                        ADDED ON
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
            </th>
            <th scope="col" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href=" " role="button" data-toggle="dropdown">
                    CITY
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Action</a>
                </div>
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><input type="radio"></th>
            <td>
                <div class="row  justify-content-start">
                    <div class="col-md-2 ">
                        <img src="../../../../../assets/tables/uiface.png" alt="uiface">
                    </div>
                    <div class="col-md-9 ">
                        <h2 class="m-0">Technical Univarsity of Munich</h2>
                        <span>Active 3 days ago</span>
                    </div>
                </div>
            </td>
            <td>976</td>
            <td>578</td>
            <td>16 sep 2018</td>
            <td><img src="../../../../../assets/tables/flag.png" alt="flag">HuSTON</td>
           <!-- block  -->
            <!-- <td>
                <div class="example-label">
                    <mat-icon>block</mat-icon>
                </div>
            </td> -->
            <td class="nav-item dropdown">
                <a  href=" " role="button" data-toggle="dropdown">
                    <mat-icon class="menuicon">more_horiz</mat-icon>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">update</a>
                    <a class="dropdown-item" href="#">Delete</a>
                    <a class="dropdown-item" href="#">view</a>
                    <a class="dropdown-item" href="#">Block/Unblock</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>